.founders-socials {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 3vh;
}

a:link {
    color: black;
}

a:hover {
    background-color: #000;
    border-radius: 0;
    color: rgb(179, 255, 0);
    transition: 250ms;
}

a:visited {
    color: #000;
}

.founders-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.kloves-title, .em-title {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 1vh;
}