.podcast-content > h2 {
    color: #fff;
    margin-top: 45vh;
    margin-bottom: 2vh;
    text-align: center;
    position: relative;
}

.podcast-content {
    color: #fff;
    margin: 2vh 2vh 3vh 2vh;
    text-align: justify;
}

.podcast-listen > h3 {
    margin-bottom: 1vh;
}

.listen-widget {
    margin-bottom: 5vh;
}
