/* MOBILE */

.radio-title {
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 40%;
    margin-left: 30%;
}

a {
    cursor: pointer;
}

.shows-main-title {
    text-align: center;
    margin: 5vh 3vh;
}

.podcast-grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr;
    margin: 5vh 5px 5vh 5px;
    row-gap: 10px;
}

.podcast-show-item {
    border: 1px solid black;
    width: 90%;
}

.show-title {
    text-align: center;
    padding: 5px;
    text-decoration: underline;
}

.show-img {
    object-fit: cover;
    width: 75%;
    margin-left: 12.5%;
    justify-items: center;
    align-items: center;
}

.show-desc {
    padding: 7px;
    text-align: justify;
}